$controText: #717d94;
$secondary: #f2f2f2;
$linearGradien: transparent linear-gradient(177deg, #363f4b 0%, #1a1f26 100%) 0%
  0% no-repeat padding-box;

$active: #3ab7bc;
$boxShadow: #00000029;
$white: #fff;

$scrollBar: #efefef;
$scrollActive: #3ab7bc;
