:host {
  .repo-status {
    min-width: 106px;
    border-radius: 4px 4px 0px 0px;
  }
  .action{
    margin-left: auto;
  }
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
