@import "./style/variable";
.dashboard-container {
  height: 100%;
  overflow: auto;
  .filter-wrapper {
    .title {
      color: #fff;
    }
    height: 174px;
    background: $linearGradien;
  }
  .card-list-wrapper {
    position: relative;
    height: calc(100% - 219px);
    overflow: auto;
    .section__header {
      position: relative;
      position: sticky;
      position: -webkit-sticky;
      top: -16px;
      padding: 16px 0;
      background: #fff;
      z-index: 10;
      margin-right: 16px;
    }
    .repo-shortcut-wrapper {
      right: 21px;
      top: 50%;
      list-style: none;
      li {
        padding: 5px;
        &.active {
          color: $scrollActive;
        }
      }
    }
  }
}
